/* INICIO DE ESTILO PÁGINA ACTIVA CUADRO */

.inicio {
  box-shadow: rgb(82, 82, 82) 0.5px 0.5px 4px 0.5px;
}

/* FIN DE ESTILO PÁGINA ACTIVA CUADRO */


.serviciosImg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


.container {
  margin: 6px;
  border: 1px solid rgb(216, 216, 216);
  padding: 1px;
  box-shadow: gray 1px 1px 6px 1px;
  box-sizing: border-box;
  height: max-content;
  transition: all 400ms ease;
}
  .container:hover {
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.4);
    transform: translateY(-3%);
  }
  .container img {
    width: 100%;
  }


.detalles {
  display: flex;
  flex-direction: row;
  margin: 3px auto;
  cursor: pointer;
  justify-content: center;
  transition: all 200ms ease;
}
.detalles:hover {
  text-shadow: 1px 5px 5px rgb(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.tituloDetalles {
  text-align: right;
  margin: auto 0;
}
  .titulDetalles a {
    text-decoration: none;
    color: black;
    font-size: 13px;
  }


.abrCer {
  text-align: left;
  margin: auto 4px;
  width: 10px;
}

.abrir {
  width: 10px;
}

.cerrar {
  width: 10px;
  padding-top: 2px;
  display: none;
}


.division {
  width: 100%;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 2px;
  padding: 0;
  background-color: rgb(158, 158, 158);
  display: none;
}


.texto {
  text-align: center;
  padding: 10px;
  display: none;
  transition: all 400ms ease;
}
  .texto:hover {
    text-shadow: 1px 10px 5px rgb(0, 0, 0, 0.4);
    transform: translateY(-3%);
  }

.texto h5{
  font-size: 20px;
  padding-left: 3px;
}
  
.texto p {
  width: 100%;
  font-size: 15px;
  padding-left: 3px;
}


.mostrar {
  display: block;
}

.ocultar {
  display: none;
}


.cuadroTexto {
  margin: 10px;
  padding: 5px;
  text-align: justify;
}
  .cuadroTexto a {
    color: blue;
    text-decoration: underline;
    padding: 0;
    margin: 0;
  }


.containerMapa {
  margin: 15px;
  border: 1px solid rgb(216, 216, 216);
  padding: 10px;
  box-shadow: gray 1px 1px 6px 1px;
}


@media screen and (min-width: 710px) {
  .serviciosImg{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 80%;
    margin: 10px auto;
  }


  .mapa {
    height: 300px;
  }
  
  .containerMapa {
    margin: 45px auto;
    padding: 40 px;
    box-shadow: gray 1px 1px 6px 1px;
    width: 70%;
  }

    
  .cajaPapeleria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
    padding: 5px;
  }
  
  
  .texto h5{
    font-size: 20px;
    padding-left: 3px;
  }
  
  .texto p {
    font-size: 15px;
  }
  
  .textoMarcas p {
    font-size: 15px;
  }
}
