/* INICIO DE ESTILO PÁGINA ACTIVA CUADRO */

.catalogos {
  box-shadow: rgb(82, 82, 82) 0.5px 0.5px 4px 0.5px;
  background-color: rgb(221, 204, 171);
}

.masMenu {
  box-shadow: rgb(82, 82, 82) 0.5px 0.5px 4px 0.5px;
}

.masCuadro {
  box-shadow: rgb(82, 82, 82) 0.5px 0.5px 4px 0.5px;
}

/* FIN DE ESTILO PÁGINA ACTIVA CUADRO */


.cuadroTexto {
  margin: 10px;
  padding: 5px;
  text-align: justify;
}
  .cuadroTexto a {
    color: blue;
    text-decoration: underline;
    padding: 0;
    margin: 0;
  }

  
.cajaCatalogos {
  display: grid;
  grid-template-rows: auto;
  gap: 20px;
  margin: 10px;
  padding: 5px;
}


.container {
  margin: 15px;
  border: 1px solid rgb(216, 216, 216);
  box-shadow: gray 1px 1px 6px 1px;
  box-sizing: border-box;
  height: max-content;
  transition: all 400ms ease;
}
  .container:hover {
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.4);
    transform: translateY(-3%);
  }


.portadaCatalogo img {
  width: 100%;
  height: auto;
}

.texto {
  text-align: center;
  padding: 10px;
  transition: all 400ms ease;
}
  .texto:hover {
    text-shadow: 1px 10px 5px rgb(0, 0, 0, 0.4);
    transform: translateY(-3%);
  }


.boton {
  text-align: center;
  padding: 0;
  width: 100%;
  height: 60px;
}
  .boton button {
    display: inline-block;
    background-color: orange;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 7px rgb(161, 161, 161);
    border: none;
    outline: none;
  }
    .boton button:active {
      box-shadow: 0 5px rgb(161, 161, 161);
      transform: translateY(4px);
    }
    .boton button:hover {background-color: rgb(190, 124, 0)}

@media screen and (min-width: 710px) {
  .cajaCatalogos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
    padding: 5px;
  }
}
