.papeleria {
  box-shadow: rgb(82, 82, 82) 0.5px 0.5px 4px 0.5px;
}

/* .cuadroTexto {
  margin: 10px;
  padding: 5px;
  text-align: justify;
}
  .cuadroTexto a {
    color: blue;
    text-decoration: underline;
    padding: 0;
    margin: 0;
  }

.productosPapeleria {
  display: grid;
  grid-template-rows: auto;
  gap: 20px;
  margin: 10px;
  padding: 5px;
}

.contenedorPapeleria {
  display: grid;
  grid-template-columns: 33% 41% 3% 23%;
  padding: 0;
  border: 1px rgb(158, 158, 158) solid;
}

  .imagen img {
    width: 100%;
    border-right: 1px rgb(158, 158, 158) solid;
  }

  .texto p {
    width: 100%;
    font-size: 10px;
    padding-left: 3px;
  }

  .textoMarcas p {
    width: 100%;
    font-size: 10px;
  }

.division {
  width: 1px;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 5px;
  margin-left: 5px;
  padding: 0;
  background-color: rgb(158, 158, 158);
  right: 5px;
}

@media screen and (min-width: 710px) {
  .productosPapeleria {
    display: grid;
    grid-template-rows: auto;
    margin: 10px auto;
    padding: 5px;
    width: 80%;
  }

  .texto h5{
    font-size: 20px;
    padding-left: 3px;
  }

  .texto p {
    font-size: 15px;
  }

  .textoMarcas p {
    font-size: 15px;
  }
} */

.cuadroTexto {
  margin: 10px;
  padding: 5px;
  text-align: justify;
}
  .cuadroTexto a {
    color: blue;
    text-decoration: underline;
    padding: 0;
    margin: 0;
  }

.cajaPapeleria {
  display: grid;
  grid-template-rows: auto;
  gap: 10px;
  margin: 10px;
  padding: 5px;
}

.container {
  margin: 15px;
  border: 1px solid rgb(216, 216, 216);
  padding-bottom: 0;
  box-shadow: gray 1px 1px 6px 1px;
  height: max-content;
  transition: all 400ms ease;
}
  .container:hover {
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.4);
    transform: translateY(-3%);
  }

.imagenPapeleria img {
  width: 100%;
  height: 300px;
}

.detalles {
  display: flex;
  flex-direction: row;
  margin: 3px auto;
  cursor: pointer;
  justify-content: center;
  transition: all 200ms ease;
}
.detalles:hover {
  text-shadow: 1px 5px 5px rgb(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
  .detalles a {
    text-decoration: none;
    color: black;
    font-size: 13px;
  }

.tituloDetalles {
  text-align: right;
  margin: auto 0;
}

.abrCer {
  text-align: left;
  margin: auto 4px;
  width: 10px;
}

.abrir {
  width: 10px;
}

.cerrar {
  width: 10px;
  padding-top: 2px;
  display: none;
}

.division {
  width: 100%;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 2px;
  padding: 0;
  background-color: rgb(158, 158, 158);
  display: none;
}

.texto {
  text-align: center;
  padding: 10px;
  display: none;
  transition: all 400ms ease;
}
  .texto:hover {
    text-shadow: 1px 10px 5px rgb(0, 0, 0, 0.4);
    transform: translateY(-3%);
  }

.texto h5{
  font-size: 20px;
  padding-left: 3px;
}
  
.texto p {
  width: 100%;
  font-size: 15px;
  padding-left: 3px;
}

.mostrar {
  display: block;
}

.ocultar {
  display: none;
}


@media screen and (min-width: 710px) {
  .cajaPapeleria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
    padding: 5px;
  }

  .texto h5{
    font-size: 20px;
    padding-left: 3px;
  }

  .texto p {
    font-size: 15px;
  }

  .textoMarcas p {
    font-size: 15px;
  }
}

/* .boton {
  text-align: center;
  padding: 0;
  width: 100%;
  height: 60px;
}
  .boton button {
    display: inline-block;
    background-color: rgb(48, 48, 48);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 7px rgb(177, 176, 176);
    border: none;
    outline: none;
  }
    .boton button:active {
      box-shadow: 0 5px rgb(165, 165, 165);
      transform: translateY(4px);
    }
    .boton button:hover {background-color: #005003} */

