.servicios {
  background-color: rgb(22, 22, 22);
  box-shadow: rgb(211, 211, 211) 0.5px 0.5px 4px 0.5px;
}

.cuadroTexto {
  margin: 10px;
  padding: 5px;
  text-align: justify;
}
  .cuadroTexto a {
    color: blue;
    text-decoration: underline;
    padding: 0;
    margin: 0;
  }

.container {
  margin: 15px;
  border: 1px solid rgb(216, 216, 216);
  padding: 10px;
  box-shadow: gray 1px 1px 6px 1px;
}

@media screen and (min-width: 710px) {
  .serviciosImg {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px 10px;
  }
    .serviciosImg div {
      margin: 6px;
      border: 1px solid rgb(216, 216, 216);
      padding: 1px;
      box-shadow: gray 1px 1px 6px 1px;
      width: 85%
      }
      .serviciosImg div img {
        width: 100%;
      }
}

@media screen and (max-width: 709px) {
  .serviciosImg {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
  }
    .serviciosImg div {
      margin: 6px;
      border: 1px solid rgb(216, 216, 216);
      padding: 1px;
      box-shadow: gray 1px 1px 6px 1px;
      width: 85%
    }
    .serviciosImg div img {
      width: 100%;
    }
}
