.catalogos {
  background-color: rgb(22, 22, 22);
  box-shadow: rgb(211, 211, 211) 0.5px 0.5px 4px 0.5px;
}

.masMenu {
  background-color: rgb(22, 22, 22);
  box-shadow: rgb(211, 211, 211) 0.5px 0.5px 4px 0.5px;
}

.masCuadro {
  background-color: rgb(22, 22, 22);
  box-shadow: rgb(211, 211, 211) 0.5px 0.5px 4px 0.5px;
}

.cuadroTexto {
  margin: 10px;
  padding: 5px;
  text-align: justify;
}
  .cuadroTexto a {
    color: blue;
    text-decoration: underline;
    padding: 0;
    margin: 0;
  }

.cajaCatalogos {
  display: grid;
  grid-template-rows: auto;
  gap: 20px;
  margin: 10px;
  padding: 5px;
}

.container {
  margin: 15px;
  border: 1px solid rgb(216, 216, 216);
  box-shadow: gray 1px 1px 6px 1px;
  box-sizing: border-box;
}

.portadaCatalogo img {
  width: 100%;
  height: auto;
}

.texto {
  text-align: center;
  padding: 10px;
}

.boton {
  text-align: center;
  padding: 0;
  width: 100%;
  height: 60px;
}
  .boton button {
    display: inline-block;
    background-color: rgb(48, 48, 48);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 7px rgb(177, 176, 176);
    border: none;
    outline: none;
  }
    .boton button:active {
      box-shadow: 0 5px rgb(165, 165, 165);
      transform: translateY(4px);
    }
    .boton button:hover {background-color: #005003}

@media screen and (min-width: 710px) {
  .cajaCatalogos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
    padding: 5px;
  }
}

